@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300&display=swap');

* {
    font-family: 'Nunito', sans-serif;
}

#boutonName {
    border: none;
    background-color: blue;
    color: white;
    width: 50px;
    border-radius: 0 15px 15px 0;
}

#boutonName:hover {
    background-color: white;
    color: black;
    border: solid 1px black;
}

#nom {
    border: none;
    border: solid black 1px;
    padding: 5px 10px;
    margin-left: 20px;
    width: 200px;
    border-radius: 15px 0 0 15px;
}

.conteneur {
    background-color: white;
    border: solid 2px black;
    border-radius: 15px;
    padding: 20px;
    width: 60%;
    margin-left: 20%;
    margin-top: 10%;
    color: black;
    font-size: large;
    box-shadow: 1px 8px 7px -2px rgba(0, 0, 0, 0.57);

}

#question {
    font-size: x-large;
    text-align: center;
    color: black;
    font-weight: bold;

}

.btn {
    display: flex;
    justify-content: center;
}

.show {
    display: flex;
}

.hidden {
    display: none;
}

#description {
    color: white;
    font-size: 18px;
    background-color: black;
    padding: 20px;
    border-radius: 20px;
    margin-bottom: 20px;
}

.changeToLi {
    display: flow-root list-item;
}

.colorForTrue {
    color: green;
}

.colorForFalse {
    color: red;
}

.allign {
    display: flex;
}

.conteneur2 {
    background-color: white;
    border: solid 2px black;
    border-radius: 15px;
    padding: 20px;
    width: 60%;
    margin-left: 20%;
    margin-top: 10%;
    color: black;
    font-size: large;
    box-shadow: 1px 8px 7px -2px rgba(0, 0, 0, 0.57);
}

body {
    background-color: #090009;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='400' height='400' viewBox='0 0 800 800'%3E%3Cg fill='none' stroke='%23010101' stroke-width='1'%3E%3Cpath d='M769 229L1037 260.9M927 880L731 737 520 660 309 538 40 599 295 764 126.5 879.5 40 599-197 493 102 382-31 229 126.5 79.5-69-63'/%3E%3Cpath d='M-31 229L237 261 390 382 603 493 308.5 537.5 101.5 381.5M370 905L295 764'/%3E%3Cpath d='M520 660L578 842 731 737 840 599 603 493 520 660 295 764 309 538 390 382 539 269 769 229 577.5 41.5 370 105 295 -36 126.5 79.5 237 261 102 382 40 599 -69 737 127 880'/%3E%3Cpath d='M520-140L578.5 42.5 731-63M603 493L539 269 237 261 370 105M902 382L539 269M390 382L102 382'/%3E%3Cpath d='M-222 42L126.5 79.5 370 105 539 269 577.5 41.5 927 80 769 229 902 382 603 493 731 737M295-36L577.5 41.5M578 842L295 764M40-201L127 80M102 382L-261 269'/%3E%3C/g%3E%3Cg fill='%23FFE4EE'%3E%3Ccircle cx='769' cy='229' r='5'/%3E%3Ccircle cx='539' cy='269' r='5'/%3E%3Ccircle cx='603' cy='493' r='5'/%3E%3Ccircle cx='731' cy='737' r='5'/%3E%3Ccircle cx='520' cy='660' r='5'/%3E%3Ccircle cx='309' cy='538' r='5'/%3E%3Ccircle cx='295' cy='764' r='5'/%3E%3Ccircle cx='40' cy='599' r='5'/%3E%3Ccircle cx='102' cy='382' r='5'/%3E%3Ccircle cx='127' cy='80' r='5'/%3E%3Ccircle cx='370' cy='105' r='5'/%3E%3Ccircle cx='578' cy='42' r='5'/%3E%3Ccircle cx='237' cy='261' r='5'/%3E%3Ccircle cx='390' cy='382' r='5'/%3E%3C/g%3E%3C/svg%3E");
}

.website_title {
    color: aliceblue;
    border-bottom: solid black 1px;
    margin-top: 47px;
    font-weight: 950;
    font-size: 50px;

}

.title {
    height: 100px;
    display: flex;
    justify-content: center;
    color: black;
}

#h1 {
    text-align: center;
    margin-top: 0;
    padding-top: 30px;
    color: white;
}

#fin {
    display: flex;
    justify-content: center;
}

#conteneurBlock {
    display: none;
}

.classementNV {
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-color: white;
    border-radius: 15px;
    width: 60%;
    margin-left: 20%;
    margin-top: 5%;
    text-align: center;
    font-size: x-large;
    display: flex;
    align-items: center;

}

#validerBtn {
    border: none;
    background-color: black;
    color: white;
    padding: 10px 20px;
    font-size: 20px;
    border-radius: 25px;
}

#validerBtn:hover {
    background-color: white;
    color: black;
    border: 1px solid black;

}

#optt4,
#optt3,
#optt2,
#optt1 {
    margin-left: 20px;
}

#btnopt1,
#btnopt2,
#btnopt3,
#btnopt4 {
    margin-left: 20px;
}

#nextBtn {
    border: none;
    background-color: black;
    color: white;
    padding: 10px 20px;
    font-size: 20px;
    border-radius: 25px;
    transition: all 0.3s ease;
    
}

#nextBtn:hover {
    background-color: white;
    color: black;
    border: 1px solid black;

}

#restart{
    border: none;
    background-color: black;
    color: white;
    padding: 10px 20px;
    font-size: 20px;
    border-radius: 25px;
    transition: all 0.3s ease;
}
#restart:hover{
    color: black;
    border: 1px solid black;
}